@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
  }
  :root {
    --black: #272A31;
    --red: #EC5242;
    --gray: #D3D3D3;
  }
  a {
    cursor: pointer;
    text-decoration: none;
  }
  li {
    list-style: none;
    cursor: pointer;
  }
  li:hover {
    transform: scale(1.1);
    transition: all 0.4s;
  }
  i {
    cursor: pointer;
  }
  i:hover {
    transform: scale(1.2);
    transition: all 0.5s;
  }